.NewImage {
}
.NewImage .img-options .form-select {
   background-position: left 0.75rem center;
   border: 0.5px solid #001b79;
   font-size: 0.75rem;
   font-style: normal;
   font-weight: 400;
   line-height: 1.5rem; /* 200% */
}
.NewImage .img-options {
   margin-top: 6rem;
}
.NewImage .img-options .form-label {
   color: #001b79;
   text-align: right;
   /* font-family: Montserrat-Arabic; */
   font-size: 0.875rem;
   font-style: normal;
   font-weight: 500;
   line-height: 1.5rem; /* 171.429% */
}

.NewImage .input-group {
   /* max-height: 75px; */
   width: 100%;
   position: relative;
}
.NewImage .input-group .form-control {
   border-radius: 0;
   border-top-right-radius: 0.5rem;
   border-bottom-right-radius: 0.5rem;
   border: 2.5px solid #ed5ab3;
   border-left: none;
}

.NewImage .input-group .rocket {
   position: absolute;
   inset: -0.7rem auto auto 1rem;
   cursor: pointer;
}
.NewImage .input-group .rocket img {
   width: 80%;
}
.NewImage .input-group .input-group-text {
   padding-left: 8rem;
   border-radius: 0;
   background: #ed5ab3;
   border: 2.5px solid #ed5ab3;
   color: #fff;
   cursor: pointer;

}
.NewImage
   .input-group
   > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
      .valid-feedback
   ):not(.invalid-tooltip):not(.invalid-feedback) {
   border-radius: 0;
   border-top-left-radius: 0.5rem;
   border-bottom-left-radius: 0.5rem;
}
.NewImage
   .input-group:not(.has-validation)
   > .dropdown-toggle:nth-last-child(n + 3),
.NewImage
   .input-group:not(.has-validation)
   > .form-floating:not(:last-child)
   > .form-control,
.NewImage
   .input-group:not(.has-validation)
   > .form-floating:not(:last-child)
   > .form-select,
.NewImage
   .input-group:not(.has-validation)
   > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(
      .form-floating
   ) {
   border-top-right-radius: 0.5rem;
   border-bottom-right-radius: 0.5rem;
}
