.table-c .img {
   width: 1.5rem;
}
.table-c .condtion {
   border-radius: 3.125rem;
   /* opacity: 0.1; */
   background: var(--secnd, #ed5ab228);
}
.table-c p{
    color: var(--primary, #001B79);
/* text-align: center; */
/* font-family: "GE SS Two"; */
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: 1.5rem; /* 150% */
}